@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
.calc{
    border-radius: 50px ;
    width: 400px;
    height: 440px;
    background-color: darkgrey;
    margin-left: 100px;
    margin-top: 35px;
    
}
#screen {
    width: 80%;
    border-radius: 5px ;
    margin-left: 37px;
    height: 60px;
    margin-top: 20px;
    pointer-events: none;
    text-align: right;
    font-size:50px;
    background-color: rgb(72 200 112);
   font-family: 'Orbitron', sans-serif;
}
.btn {
    height: 50px;
    width: 60px;
    margin-left: 30px;
    margin-top: 10px;
    background-color: rgb(55, 96, 173);
    color: cornsilk;
    font-size: larger;
    border-radius: 30%;
}
.heading{
    text-align: center;
    letter-spacing:2px;
    padding-top: 15px;
    color: rgb(255, 255, 255);
    text-decoration: wavy;
    text-orientation: sideways;
    font-size: larger;
    font-weight: bold;
    
}
